*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
header{
    margin: 0 auto;
}
.container{
    margin: 0 auto;
    max-width: 1120px;
}
.nav-top{
    background: var(--primary-colour, #3A0CA3);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 689px;
    padding: 15px;
}
.text {
    display: flex;
    color: var(--white, #FFF);
    gap: 6px;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.contact{
    display: flex;
    gap: 30px;
}
.a{
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: var(--white, #FFF);
    display: flex;
    gap: 10px;
}
.nav-bottom{
    display: flex;
    gap: 129px;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
}
.nav-bottom ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
.nav-bottom ul li a{
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ellips{
display: flex;
width: 50px;
height: 50px;
border-radius: 50px;
background: var(--primary-colour, #3A0CA3);
align-items: center;
justify-content: center;
}
.h3{
color: #1E1E1E;
font-size: 20px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.bottom-rehgt{
    margin-left: 120px;
    display: flex;
    gap: 20px;
}
.bottom-rehgt>div{
    display: flex;
    align-items: center;
    gap: 6px;
}
.button{
padding: 15px 26px;
gap: 10px;
border-radius: 50px;
background: var(--primary-colour, #3A0CA3);
}
.button a {
display: inline-flex;
color: #FFF;
font-size: 16px;
font-weight: 500;
text-decoration: none;
}
.button img{
    width:20px;
    height: 20px;
    margin-right: 10px;
}
#hero{
display: flex;
flex-direction: column;
 border-radius: 0px 0px 800px 800px; 
background: linear-gradient(180deg, rgba(76, 201, 240, 0.00) 0%, rgba(67, 97, 238, 0.30) 100%);
align-items: center;
height: 902px;
}
.div2{
    display: flex;
    align-items: end;
    gap: 160px;
    margin-top: 79px;
}
.hero-text{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}
.hero-text h4{
display: flex;
width: 207px;
flex-direction: column;
flex-shrink: 0;
color: var(--colour-1, #4361EE);
font-size: 19.4px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 2.91px;
}
.hero-text h1{
width: 580px;
color: var(--text-colour-1, #0B090A);
font-size: 57.3px;
font-style: normal;
font-weight: 600;
line-height: 65px;
}
.hero-text p{
width: 580px;
color: var(--text-colour-3, #808080);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.hero-text>img{
    width: 580px;
    border-radius: 20px;
    position: relative;
}
.ellips2{
position: absolute;
left: 540px;
width: 60px;
height: 60px;
transform: rotate(30deg);
border-radius: 60px;
background: linear-gradient(180deg, #4361EE 0%, rgba(67, 97, 238, 0.00) 100%);
}
/* .hero-text>div{
left: 540px;
} */
form{
border-radius: 30px;
background: #FFF;
box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05);
}
.form-bottom{
display: flex;
flex-direction: column;
gap: 20px;
padding: 50px 40px 60px;
align-items: center;
border-radius: 30px;
background: #FFF;
box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05);
}
.form-top{
    display: flex;
    align-items: center;
    gap: 125px;
    padding: 40px 82px 29px ;
    color: var(--text-colour-3, #808080);
    border-bottom: 1px #808080 solid ;
}
.div>input{
    display: none;
}
.form-top h5{
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
input:checked + label{
    color: #3A0CA3;
}
.form-bottom>input{
width: 340px;
height: 59px;
border-radius: 20px;
border: 0px solid var(--text-colour-5, #D4D4D4);
background: rgba(212, 212, 212, 0.20);
padding-left: 20px;
}
::placeholder{
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
color: rgba(109, 106, 117, 0.50);
}
select{
width: 340px;
height: 59px;
border-radius: 20px;
border: 0px solid var(--text-colour-5, #D4D4D4);
background: rgba(212, 212, 212, 0.20);
color: rgba(109, 106, 117, 0.50);
padding:0px  20px 0px ;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.form-bottom>a{
text-decoration: none;
width: 340px;
height: 59px;
display: flex;
gap: 5px;
align-items: center;
font-size: 13.3px;
font-style: normal;
font-weight: 400;
line-height: 22px;
}
.form-bottom>a img{
width: 14px;
height: 14px;
}
.button1{
display: flex;
align-items: center;
justify-content: center;
width: 340px;
height: 60px;
border-radius: 50px;
border: 1px solid #BFBDC1;
background: var(--primary-colour, #3A0CA3);
color: #fff;
gap: 10px;
}

.button1>a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.hero-buttons{
margin-top: 65px;
display: flex;
gap: 30px;
width: 710px;
height: 100px;
margin-left: 200px;

}
.btn1{
width: 360px;
height: 100px;
flex-shrink: 0;
border-radius: 50px;
background: var(--white, #FFF);
box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05);
display: flex;
align-items: center;
justify-content: center;
}
.btn{
width: 287px;
height: 43px;
display: flex;
align-items: center;
}
.img-box{
    display: flex;
    align-items: center;
    position: relative;
}
.img-box>img{
    position: absolute;
    width: 36px;
    height: 36px;
}
.img-box>img:nth-child(2){
    margin-left: 24px;
}
.img-box>img:nth-child(3){
    margin-left: 48px;
}
.img-box>img:nth-child(4){
    margin-left: 72px;
}
.img-box>img:nth-child(5){
    margin-left: 96px;
}
.img-box>img:nth-child(6){
    margin-left: 120px;
}
.btn>h4{
    margin-left: 165px;
    font-size: 19.4px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    } 
.btn2{
    width: 320px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--white, #FFF);
    box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn21{
    width: 244px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;}
.btn21>h4{
font-size: 19.4px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.top-box{
    display: flex;
}
#logos{
    position: relative;

}
.con{
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
    padding: 40px 140px 42px;
    color: var(--text-colour-3, #808080);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* background-color: burlywood; */
}

.crl{
    height: 112px;
}
.div-l{
    position: absolute;
    margin-top: 95px;
}
.elleps-logo{
width: 100px;
height: 100px;
transform: rotate(-30deg);
flex-shrink: 0;
border-radius: 100px;
opacity: 0.5;
background: linear-gradient(180deg, #4361EE 0%, rgba(67, 97, 238, 0.00) 100%);
}
.logo-box{
    display: flex;
    gap: 90px;
}
.checkout-top{
    display: flex;
    gap: 315px;
    align-items: center;
    margin-top: 100px;
}
.checkout-button-box{
    display: flex;
    gap: 20px;
}
.checkout-button-box>.div{
    display: flex;
    width: 97px;
    height: 49px;
    border: 2px #3A0CA3 solid;
    border-radius: 50px;
    align-items: center;
    justify-content:center;
    color: #3A0CA3;
}
.checkout-button-box>.div input:checked + label{
    color: #FFF;
    background-color: aqua;
}
.text-box>h4{
color: var(--colour-1, #4361EE);
font-size: 19.4px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 2.91px;
margin-bottom: 30px;
}
.text-box>h2{
    color: var(--text-colour-2, #2B2B2B);
    font-size: 39.8px;
    font-style: normal;
    font-weight: 600;
    line-height: 47px;
    margin-bottom: 30px;
}
.text-box>p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}
.checkout-card-box{
display: inline-flex;
height: 499px;
justify-content: flex-end;
align-items: flex-start;
gap: 50px;
}
.card{
width: 340px;
height: 499.06px;
}
.card-top{
width: 340px;
height: 340px;
background-image: url("img/Rectangle1.png");
margin-bottom: 25px;
display: flex;
align-items: end;
padding: 0 0 30px 30px;
}
.card:nth-child(2) .card-top{
    background-image: url("img/Rectangle2.png");
}
.card:nth-child(3) .card-top{
    background-image: url("img/Rectangle3.png");
}
.card-text{
    height: 134px;
}
.card-text>h3{
font-size: 27.6px;
font-weight: 600;
}
.card-text>h4{
font-size: 19.4px;
font-weight: 500;
margin-bottom: 6px;

}
.card-text>p{
    color: var(--text-colour-3, #808080);
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 8px;
}
.icons-box{
    display: flex;
    gap: 20px;
    align-items: center;
}
.card-button{
    width: 141px;
    height: 42px;
    display: flex;
    border-radius: 20px;
    background: #FFE1E1;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #FF1111;
}
.card:nth-child(2) .card-button{
    width: 169px;
background: #D7EEFF;
color: #119BFF;
}
.card:nth-child(3) .card-button{
    width: 205px;
    background: #F1FFF1;
    color: #00CE3A;
}
.card-button h5{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;}
.card-button i{
    font-size: 20px;
}
