#our-service{
    background-color: #D4D4D4;
}.our-service-boxs{
    display: flex;
    gap: 50px;
    justify-content: center;

}
.our-service{
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 137px;
}
.our-service-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 340px;
    padding: 60px 60px;
    background-color: white;
    border-radius: 30px;
}
.our-service-search{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #4361EE ;
    color: white;
    font-size: 35px;
    padding-top: 15px; 
    margin-bottom: 30px;  
}
.our-service-box p{
    color: #808080;
    line-height: 26px;
    word-wrap: break-word;
}
.our-service-box h4{
    color: #2B2B2B;
    font-size: 19.40px;
    font-weight: 500;
   word-wrap: break-word;
}
.our-service-p{
    color: #2B2B2B;
    font-size: 19.40px;
    font-weight: 500;
   letter-spacing: 2.91px;
   word-wrap: break-word;
   margin-bottom: 40px;

}
.our-service h2{
    color: #0B090A;
    font-size: 39.80px;
    font-weight: 600;
   line-height: 47px;
    word-wrap: break-word;
    margin-bottom: 70px;
}
.testimonals{
    width: 1120px;
    margin: 0 auto;
    padding-top: 217px;
}
.testimonals-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
}
.testimonals-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.testimonals-left p{
    margin-bottom: 60px;
    line-height: 26px;
}
.testimonals-arrow{
    display: flex;
    gap: 50px;
    font-size: 50px;
    color: #4361EE;
}
.testimonals-left  h4{
    color: #4361EE;
    font-size: 19.40px;
    font-weight: 500;
    letter-spacing: 2.91px;
    word-wrap: break-word;
}
.testimonals-box1{
    width: 500px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.10); 
    border-radius: 30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 34px;
    position: relative;
    top: -30px;
    background-color: white;
}
.testimonals-box1 p{
    color: #2B2B2B;
    font-size: 19.40px;
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 40px;
}
.testimonals-box1 img{
    margin-bottom: 19px;
}
.testimonals-chiziq{
    width: 100%;
    height: 1px;
    border: 0.50px #D4D4D4 solid;
    margin-bottom: 20px;
}
.testimonals-box1-footer-left{
    display: flex;
    align-items: center;
    gap: 15px;
}
.testimonals-box1-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testimonals-box1-footer h4{
    color: #2B2B2B;
    font-size: 19.40px;
    font-weight: 500;
    word-wrap: break-word;
}
.testimonals-box1-footer-right{
    color: #FFC700;
}
.testimonals-box1-footer-right i:nth-child(5){
    color: #D4D4D4;
}
.testimonals-ellips{
    width:60px;
    height: 60px;
    transform: rotate(-30deg); 
    transform-origin: 0 0; 
    opacity: 0.50; 
    background: linear-gradient(180deg, #4361EE 0%, rgba(67, 97, 238, 0) 100%); 
    border-radius: 9999px;
    position: relative;
    top: 30px;
    left: -30px;
}
.testimonals-footer{
    width: 1200px;
    height: 260px;
    background-color: #3A0CA3;
    margin: 0 auto;
    display: flex;
    border-radius: 40px;
    gap: 84px;
    margin-bottom: 180px;
    align-items: center;
}
.testimonals-footer-left{
    display: flex;
    gap: 40px;
    align-items: center;
    color: white;
}
.testimonals-footer-left img{
    position: relative;
    top: -20px;

}
.testimonals-text h2{
    color: white;
    font-size: 39.80px;
    font-weight: 600;
    line-height: 47px;
}
.testimonals-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.testimonals-footer-right button{
    padding: 19px 30px;
    border: none;
    color: #3A0CA3;
    font-weight: 500;
    border-radius: 30px;
}
.test-ellips1{
    width: 100px;
    height: 100px;
    transform: rotate(30deg); 
    position: relative;
    left: 1034px;
    bottom: -40px;
    background: linear-gradient(180deg, white 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 50%;
}

