#our-service{
    background-color: #D4D4D4;
}.our-service-boxs{
    display: flex;
    gap: 50px;
    justify-content: center;

}
.our-service{
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 137px;
}
.our-service-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 340px;
    padding: 60px 60px;
    background-color: white;
    border-radius: 30px;
}
.our-service-search{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #4361EE ;
    color: white;
    font-size: 35px;
    padding-top: 15px; 
    margin-bottom: 30px;  
}
.our-service-box p{
    color: #808080;
    line-height: 26px;
    word-wrap: break-word;
}
.our-service-box h4{
    color: #2B2B2B;
    font-size: 19.40px;
    font-weight: 500;
   word-wrap: break-word;
}
.our-service-p{
    color: #2B2B2B;
    font-size: 19.40px;
    font-weight: 500;
   letter-spacing: 2.91px;
   word-wrap: break-word;
   margin-bottom: 40px;

}
.our-service h2{
    color: #0B090A;
    font-size: 39.80px;
    font-weight: 600;
   line-height: 47px;
    word-wrap: break-word;
    margin-bottom: 70px;
}
